#contact_modal,
#lightbox_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    padding: 0px 50px;
    border-radius: 5px;
}

.photograph-header section, .photograph-header img{
    margin: 0 40px;
}

.photograph-header img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photograph-header h1{
    font-size: 64px;
    color: #D3573C;
    margin-right: 0px;
    font-weight: 400;
}

.photograph-header h3{
    color : #901C1C;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.photograph-header p{
    font-size: 18px;
}

.photograph-media{
    margin: 0px 100px;
    margin-top: 100px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    margin-bottom: 20px;
}

.photograph-media figure{
    display: flex;
    flex-direction: column;
}

.photograph-media a{
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
}

.photograph-media img, 
.photograph-media video{
    object-fit: cover;
    width: 100%;
    height: 300px;
    cursor: pointer;
    border-radius: 5px;
}

.photograph-media .figure-description{
    color: #901C1C;;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.photograph-media .image-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    gap: 10px;
}

.photograph-media .likes {
    color: #901C1C;
    cursor: pointer;
}
.photograph-media .fa-heart{
    color: #901C1C;
}

.photograph-media article{
    max-width: 350px;
}

.likesAndPrice{
    position: fixed;
    right: 20px;
    bottom: -10px;
    background: #DB8876;
    border-radius: 5px;
    height: 89px;
    width: 376px;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.likesAndPrice-article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 0px 20px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_modal{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(196, 196, 196, 0.4);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px 35px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 900px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: auto;
    align-items: flex-start
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin-bottom: 10px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input, 
form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 20px;
}

form input{
    height: 68px;
}

form textarea {
    resize: none;
    height: 170px;
}

.no-scroll {
    overflow: hidden;
}

.scroll {
    overflow: auto;
}

.lightbox_modal{
    position: fixed;
    display: block;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;

}

.lightbox {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#901C1C;
    width: 100%;
    height: 100%;
}

.lightbox-thumbnail{
    position: absolute;
    z-index: 1;
    height: 95%;
    width: 1050px;
    display: flex;
    flex-direction: column;
}

.lightbox-thumbnail .thumbnail{
    position: absolute;
    z-index: 1;
    width: 1050px;
    height: 90%;
    object-fit: cover;
    border-radius: 5px;
}

.lightbox-thumbnail .figure-description{
    position: absolute;
    top: 91%;
    font-size: 24px;
}

.lightbox .close_button{
    position: absolute;
    top: 6%;
    right: calc(50% - 595px);
    width: 42px;
    height: 42px;
    cursor: pointer;
    color:#901C1C;
}

.lightbox nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1100px;
}

.lightbox .fa-angle-left,
.lightbox .fa-angle-right{
    font-size: 50px;
    cursor: pointer;
}

/* Dropdown */

.filter{
    width: 85%;
    margin: 30px 100px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.wrapper-dropdown{
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    height: 69px;
    width: 170px;
    background: #911C1C;
    border-radius: 5px;
    text-align: start;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    appearance: none;
    cursor: pointer;
}

.wrapper-dropdown button{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    background: none;
    color:#FFFFFF;
    font-size: 18px;
    text-align: left;
    padding: 20px;
    cursor: pointer;
}

.wrapper-dropdown .fa-chevron-down{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
}

.wrapper-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #901C1C;
    display: none;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
    padding-left: 10px;
}

.wrapper-dropdown li{
    padding: 10px 10px 10px 0px;
    border-top: #FFFFFF 1px solid;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.wrapper-dropdown .dropdown-hide{
    display: none;
}

.wrapper-dropdown-open{
    border-radius: 5px 5px 0px 0px;
}

.wrapper-dropdown-open .dropdown{
    display: block;
}